body {
    margin: 0px;
}

#txt-input {
    height: 10vh;
    width: 100%;
    display: block;
    margin: 1rem;
    padding: 1rem;
}

#output{

    border: 1px solid black;
    height: 10vh;
    width: 100%;
    display: block;
    margin: 1rem;
    padding: 1rem;

}